.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.list-group-item.active {
    background-color: white;
    border-color: coral;
    color: coral;
}

.list-group-item.active:hover{
    background-color: coral;
    border-color: coral;
}

.list-group-item.inactive{
    color: coral;
}

.list-group-item.inactive:hover{
    background-color: coral;
    color: white;
}